<nav class="navbar mr-6 is-flex is-justify-content-flex-end">
    <span class="tag is-primary mt-4 has-text-weight-bold">{{ parity }}</span>
</nav>
<nav class="navbar ml-6 mr-6" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://nbikemsu.ru/">
            <h1 class="is-size-4 has-text-black has-text-weight-bold">КГПИ КемГУ</h1>
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item has-text-weight-bold has-text-black">
                ЭИОС
            </a>
            <a class="navbar-item has-text-weight-bold has-text-black">НАУКА
            </a>
            <a class="navbar-item has-text-weight-bold has-text-black">ВНЕУЧЕБНАЯ ЖИЗНЬ
            </a>



            <div class="navbar-item has-dropdown is-hoverable has-text-black">
                <a class="navbar-link has-text-weight-bold has-text-black">ОБРАЗОВАНИЕ
                </a>
                <div class="navbar-dropdown is-right">
                    <a class="navbar-item has-text-weight-bold">
                        Высшее образование
                    </a>
                    <a class="navbar-item">
                        Инклюзивное образование
                    </a>
                    <a class="navbar-item">
                        Платное образование
                    </a>
                    <a class="navbar-item">
                        Дополнительное образование
                    </a>
                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable has-text-black">
                <a class="navbar-link has-text-black has-text-weight-bold">
                    УНИВЕРСИТЕТ
                </a>
                <div class="navbar-dropdown is-right">
                    <a class="navbar-item">
                        Самообследование
                    </a>
                    <a class="navbar-item">
                        Структура и органы управления образовательной организацией
                    </a>
                    <a class="navbar-item">
                        Хочу быть на сайте
                    </a>
                    <a class="navbar-item">
                        Проекты КГПИ КемГУ
                    </a>
                    <a class="navbar-item">
                        Центр тестирования иностранных граждан
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                        Сообщить об ошибке
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>


<div class="navbar-menu mr-6 ml-6 bottom">
    <div class="navbar-end">
        <a class="navbar-item has-text-black">
            АБИТУРИЕНТУ
        </a>
        <a class="navbar-item has-text-black" href="/faculties/">
            СТУДЕНТУ
        </a>
        <a class="navbar-item has-text-black">
            КОНТАКТЫ
        </a>
        <a class="navbar-item has-text-black">
            СОТРУДНИКУ
        </a>
        <a class="navbar-item has-text-black">
            ШКОЛЬНИКУ
        </a>
    </div>
</div>
