a.disabled {
    pointer-events: none; /* делаем элемент неактивным для взаимодействия */
    cursor: default; /*  курсор в виде стрелки */
    color: #888;/* цвет текста серый */
    }

html{
    height: 100vh;
    background-color: #F7F7FC;
}

body{
    height: 100vh;
    background-color: #F7F7FC;
}

.tag.is-odd {
    background: linear-gradient(114.44deg, #7433FF 0%, #FFA3FD 100%);
    border-radius: 7px;
    color: #FCFCFC;
    width: 100px;
}

.tag.is-even{
    background: linear-gradient(339deg, #c4ec8e,#00afb7,#3f5e95);
    border-radius: 7px;
    color: #FCFCFC;
    width: 100px;
}

a.navbar-link:hover {
    color: #00d1b2 !important;
}

th {
    background-color: white;
}

.table.is-bordered td, .table.is-bordered th{
    border-left: 0px;
}

.footer{
    background-color: #F7F7FC !important;
}

.card{
    width: 100%;
}

.navbar{
    background-color: #F7F7FC !important;
}
